.inline-block {
    display: inline-block;
    vertical-align: middle
    ;
}

ul {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

p {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

button {
    margin-top: 40px;
    background-color: transparent;
    font-size: 14pt;
    width: fit-content;
    border: none;
}



/* HEADER */
header {
    width: auto;
    height: auto;
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
    border: 1px solid red ;
}
.logo {
    width: 12%;
    text-align: center;
}

/* nav */
nav {
    width: auto;
    height: auto;
    font-size: 12pt;
}
nav ul {
    width: auto;
}
nav ul li {
    width: auto;
    margin: 10px;
}

/* contact */
#contact {
    float: right;
    padding: 56px 0;
    width: auto;

}

#contact.inline-block ul li {
    margin: 10px;
    text-align: center;
}

/* --__HOME__-- */
.tag {
    height: auto;
    width: auto;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;
}
.tagline {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 14pt;
    text-align: justify;
    width: 480px;
}

/* Projects */
/* case study component */
.caseStudyCard {
    margin-top: 60px;
    width: 100vw;
    height: 400px;
    overflow: hidden;
}

.caseStudyInfo{
    margin-left: 70px;
    width: fit-content;
    vertical-align: top;
}
.caseStudyTitle {
    font-size: 24pt;
    font-weight: bold;

}


.separator {
    width:34px;
    float: left;
    margin-top: -20px;
}

/* weTravel card */
.WeTravel {
    background-color: #0079fe;
    color: white;
}
#wtHotel {
    height: 554px;
    width: 281px;
    margin-left: 700px;
    vertical-align: top;
}





/* --__ABOUT__-- */
/* Hero Image */
.aboutContent {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
}

.aboutMe {
    white-space: normal;
    text-align: justify;
    width: 500px;
    height: auto;
}

#mePic {
    height: auto;
    width: 593px;
    margin-top: 20px;
}

/* FOOTER */
footer {
    background-color: #760000;
    bottom: 0;
    text-align: center;
}

#footerTagline {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 24pt;
    font-weight: bold;
    color: white;
    padding-top: 20px;
}

footer p {
    color: white;
}
footer ul {
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    color: white;
    padding-bottom: 20px;
}

footer ul li {
    padding: 10px;
    color: white;
}

