.inline-block {
    display: inline-block;
    vertical-align: middle
    ;
}

ul {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

p {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

button {
    margin-top: 40px;
    background-color: transparent;
    font-size: 14pt;
    width: fit-content;
    border: none;
}



/* HEADER */
header {
    width: auto;
    height: auto;
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
}
.logo {
    width: 12%;
    text-align: center;
}

/* nav */
nav {
    width: auto;
    height: auto;
    font-size: 12pt;
}
nav ul {
    width: auto;
}
nav ul li {
    width: auto;
    margin: 10px;
}

/* contact */
#contact {
    float: right;
    padding: 56px 0;
    width: auto;

}

#contact.inline-block ul li {
    margin: 10px;
    text-align: center;
}

/* --__HOME__-- */
.projects {
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.tag {
    height: auto;
    width: auto;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;
}
.tagline {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 14pt;
    align-items: flex-start;
    text-align: justify;
    width: 480px;
}

/* Projects */

.caseStudyInfo{
    margin-left: 70px;
    width: 500px;
    overflow-wrap: normal;
    vertical-align: top;
    text-align: left;
}

.caseStudyDescription {
    font-size: 14pt;
}
.caseStudyDate {
    font-size: 12pt;
    font-weight: lighter;
}
.caseStudyTitle {
    font-size: 24pt;
    font-weight: bold;

}

.separator {
    width:34px;
    float: left;
    margin-top: -20px;
}

/* weTravel card */
.wt {
    background-color: #0079fe;
    margin-top: 60px;
    width: 100vw;
    height: 400px;
    position: relative;
    overflow: hidden;
    text-align: right;
    color: white;
}

.wtButton {
    margin-top: 40px;
    margin-left: -5px;
    background-color: transparent;
    font-size: 14pt;
    width: fit-content;
    border: none;
    color: white;
}

#wtHotel {
    height: 654px;
    width: 351px;
    position: absolute;
    top: -9700px;
    bottom: -9999px;
    left: -9860px;
    right: -9999px;
    margin: auto;
}

#wtMockups {
    height: 400px;
    width: 560px;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9050px;
    right: -9999px;
    margin: auto;
}

/* Oregon DMV card */

.oregon {
    background-color: #009D75;
    width: 100vw;
    height: 400px;
    position: relative;
    overflow: hidden;
    text-align: right;
    color: white;
}

.dmvButton {
    margin-top: 40px;
    margin-left: -5px;
    background-color: transparent;
    font-size: 14pt;
    width: fit-content;
    border: none;
    color: white;
}

#dmvDesktop {
    height: 366px;
    position: absolute;
    top: -9975px;
    bottom: -9999px;
    left: -9860px;
    right: -9999px;
    margin: auto;
}

#dmvMobile {
    height: 356px;
    position: absolute;
    top: -9990px;
    bottom: -9999px;
    left: -9000px;
    right: -9999px;
    margin: auto;
}

/*  Silicon Beach Social card */

.sbs {
    background-color: #BCD9E3;
    width: 100vw;
    height: 400px;
    position: relative;
    overflow: hidden;
    text-align: right;
}

.sbsButton {
    margin-top: 40px;
    margin-left: -5px;
    background-color: transparent;
    font-size: 14pt;
    width: fit-content;
    border: none;
}

#sbsAbout {
    height: 300px;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9860px;
    right: -9999px;
    margin: auto;
}

#sbsEvents {
    height: 300px;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9000px;
    right: -9999px;
    margin: auto;
}


/* --__ABOUT__-- */
.aboutContent {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
}

.aboutMe {
    white-space: normal;
    text-align: justify;
    width: 500px;
    height: auto;
}

#mePic {
    height: auto;
    width: 593px;
    margin-top: 20px;
}

/* FOOTER */
footer {
    margin-top: 60px;
    background-color: #760000;
    width: 100vw;
    height: auto;
    bottom: 0;
    text-align: center;
}

#footerTagline {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 24pt;
    font-weight: bold;
    color: white;
    padding-top: 20px;
}

footer p {
    color: white;
}
footer ul {
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    color: white;
    padding-bottom: 20px;
}

footer ul li {
    padding: 10px;
    color: white;
}

