.inline-block {
    display: inline-block;
    vertical-align: middle
    ;
}

ul {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

p {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

/* HEADER */
header {
    width: 100%;
    padding: 60px;
}
.logo {
    width: 10%;
    padding-left: 60px;
    text-align: center;
}

/* nav */
nav {
    width: 45%;
    padding: 0px;
}
nav ul {
    width: 100%;
    margin-left: auto;
}
nav ul li {
    padding: 40px
}

/* contact */
#contact.inline-block {
    right: 0px;
    width: 40%;
    padding: 0px;
}

#contact.inline-block ul li {
    padding: 10px
}

/* Hero Image */
.heroImg {
    white-space: nowrap;
    height: 600px;
    width: 100%;
}

.content {
    white-space: normal;
    text-align: justify;
    width: 500px;
    height: 420px;
    float: left;
    padding-left: 120px;
}

.me {
    margin-left: 50%;
    height: 593px;
    width: 415px;
    position: static;
    padding-left: 88px;
    padding-top: 20px;
}

/* FOOTER */
footer {
    background-color: #760000;
    bottom: 0;
    text-align: center;
}

#tagline {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 24pt;
    font-weight: bold;
    color: white;
    padding-top: 20px;
}

footer p {
    color: white;
}
footer ul {
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    color: white;
    padding-bottom: 20px;
}

footer ul li {
    padding: 10px;
    color: white;
}

